@media (max-width: 1060px) {
  .grid {
    gap: 20px;
  }

  .overlay {
    top: calc(100% - 20px);
  }

  .nav {
    display: none;

    &--mobile {
      display: flex;
      flex-direction: column;
      background-color: $white;
      position: absolute;
      top: calc(100% - 20px);
      left: 0;
      z-index: 10;
      max-width: 325px;
      width: 100%;
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      border-top: 1px solid $green-light;
      // height: calc(100vh - 84px + 64px);
      max-height: calc(100vh - 84px);
      overflow: auto;
      flex: 1;
      .nav__link {
      }
      .nav__list {
        display: block;
        height: 100%;
      }

      .nav__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
      }

      .nav__close-btn {
        width: 18px;
        height: 18px;
        background-image: url(../img/icon/cross.svg);
        background-size: 18px 18px;
        background-repeat: no-repeat;
      }

      .nav__box {
        // overflow: auto;
      }

      .nav__item {
        padding: 15px 20px;
        overflow: hidden;
        border-top: 1px solid $green-light;
      }

      .nav__btn {
        width: 100%;
        text-align: left;
        position: relative;
        padding: 15px 20px 0 20px;
        &::before {
          height: 6px;
          width: 11px;

          right: 20px;
          top: 75%;

          mask-size: 11px 6px;
        }

        &[aria-expanded='true'] {
          transition: all 0.2s ease-out;
          &::before {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .nav__item--submenu {
        padding: 0;
        position: static;
      }

      .nav__title {
        @include medium-26-resize-20;
      }
    }

    &--active {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 1030px) {
  .inner {
    padding: 20px 0 40px;
  }
  .breadcrumbs {
    padding-bottom: 20px;
  }
  .title-h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 769px) {
  .accardion {
    &__head {
      padding: 25px 15px 0 15px;
      &::after {
        margin-right: 2px;
      }
    }
    &__item {
    }
    &__content {
      padding: 0px 15px 25px 15px;
      &[aria-hidden='false'] {
      }
    }
  }

  .nav--mobile {
    //height: calc(100vh - 134px + 64px);
    max-height: calc(100vh - 135px);
  }

  .info-popup {
    padding: 10px 15px;
    width: 201px;
  }
}

@media (max-width: 634px) {
  .accardion-list {
    &__img {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &__item {
      flex-direction: column !important;
    }
  }
}

@media (max-width: 560px) {
  .nav {
    &--mobile {
      max-width: 100%;
      height: 100vh;
    }
  }

  .overlay {
    display: none;
  }
}
